<section>
    <div class="container-fluid imjq">
      <div class="row">
        <div class="col">
          <h1>The clock<br> <br>
            is <span>ticking</span>.</h1>
          <p>The seconds, minutes, and hours slip away,<br>each one bringing us closer to the future and farther
            from the past</p>
          <div class="bg"></div>
        </div>
      </div>
  
    </div>
  </section>
  
  
  <!-- ADVERTISERS SERVICE CARD -->
  <section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container mt-md-4" align="center">
      <div class="row ">
        <div class="section-header text-center">
          <h2 class="fw-bold fs-1">
            Our Top
            <span class="b-class-secondary">Notch Web
              Development </span>Services
          </h2>
          <p class="sec-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="bi bi-lightning-charge" viewBox="0 0 16 16">
              <path
                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
            </svg></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center te">
        <div class="col" *ngFor="let card of cards">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <h3>{{card.Title}}</h3>
            <p>
              {{card.Description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  <section class="card" style="background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(78,91,162,1) 100%); ">
    <div class="container mt-4 mb-4 " id="Home">
  
      <div class="row" style=" font-family: 'Times New Roman', Times, serif; color: whitesmoke;">
        <div align="center">
          <h2 class="hhhh">PHASES OF WEB DEVELOPMENT
          </h2>
          <h2 class="cardhead">Our Web Development Process</h2>
          <p class="hhhh">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae, quo odio libero voluptate corporis
            quod quae provident <br>blanditiis perferendis fugiat consequatur. Perspiciatis deleniti quasi, consequuntur hic
            ad quia fuga!</p>
        </div>
        <div class="col-lg-7 mt-4" >
          <h2><span class="number">01.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
          <h2><span class="number">02.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
          <h2><span class="number">03.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
        </div>
        <div class="col-lg-5 mt-4">
          <h2><span class="number">04.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
          <h2><span class="number">05.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
          <h2><span class="number">06.</span>
            In-Depth Research And Analysis</h2>
          <p>Understanding client's requirements: Consultation, Ideation, Goal<br> definition, Deep research.</p>
  
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container-fluid" id="Home">
      <div class="row">
        <div class="col-lg-7" align="center" style="margin-top: 2%; font-family: 'Times New Roman', Times, serif;">
          <img class="img1" src="https://www.comfygen.com/images/full-stack.webp" alt="Hi" srcset="">
        </div>
        <div class="col-lg-4 mt-4" >
          <h1 class="mt-4" style="color: rgb(255, 23, 131);">Full-Stack <br><br>
            Technologies We  <br><br> Serve</h1>
          <p class="mt-4" style="font-family: 'Times New Roman', Times, serif;">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Sunt mollitia, fugit veritatis
            saepe, possimus suscipit dicta vel, molestias voluptates rerum similique cumque quae alias soluta
            quasi minus nostrum dolorum. Vitae!<br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit impedit dolorum exercitationem voluptatum
            natus nihil temporibus iusto debitis animi accusantium. Atque corporis maxime, doloribus eius ad iste totam
            magnam quaerat?
          </p>
          <!-- <div class="card w-75 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Get Instant Professional Advice Ready<p class="card-text">to Help : +91
                                0000000000</p>
                        </h5>
                    </div>
                </div> -->
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 text-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="100" fill="currentColor"
                  class="bi bi-headphones" viewBox="0 0 16 16" style="color: #0060fa;">
                  <path
                    d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z" />
                </svg>
              </div>
              <div class="col-md-8">
                <div class="card-body" style="font-family: 'Times New Roman', Times, serif;">
                  <h2 class="card-title">Get Instant Professional Advice Ready
                  </h2>
                  <p class="card-text">to Help : +91
                    0000000000</p>
                </div>
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
  </section>
  
  <section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container mt-md-4" align="center">
      <div class="row ">
        <div class="section-header text-center">
          <h2 class="fw-bold fs-1">
            Why Choose Us For
            <span class="b-class-secondary">Web
              Development </span>Solutions?
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore deleniti, dolorum nulla neque harum ex nobis
            magni error dolor illum corrupti qui dolores numquam, hic quis eveniet ab. Natus, magni!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quam incidunt atque quo sapiente, similique
            cumque accusamus blanditiis maxime modi, eveniet nobis sequi dolore quae optio perferendis sint animi?
            Provident.
          </p>
          <p class="sec-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="bi bi-lightning-charge" viewBox="0 0 16 16">
              <path
                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
            </svg></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center te">
        <div class="col" *ngFor="let card of newcards">
          <div class="service-card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <h3>{{card.Title}}</h3>
            <p>
              {{card.Description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  <app-contact-form></app-contact-form>