
<div class="container">
  <div class="row">
    <div class="col"></div>
    <nav class="navbar navbar-expand-lg bg-light col mt-4">
      <div class="container-fluid">
        <button class="navbar-toggler mx-auto pt-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <img
            src="https://imgs.search.brave.com/MXEiQbUmCmEZZ9S4AwqXzduSmZNVQVMOzI__ZI0FL2g/rs:fit:474:474:1/g:ce/aHR0cHM6Ly9ibG9n/Z2VyLmdvb2dsZXVz/ZXJjb250ZW50LmNv/bS9pbWcvYi9SMjl2/WjJ4bC9BVnZYc0Vp/cTBwRmRWemI0QXVk/QUF2ZEZJR2gyWXoz/UmZVZWp2Zm5zT01q/T3FiQ0hCd0pQZ2dV/RnUwN0lNbzhtVmlL/TTRhV21mRHVBeVhk/U042UlA3YUFWQ21i/bHppUnoyOVltcU5S/U09DMlNyVUdnM1FQ/NmxLaEtBWFdxSjM5/bXQ0bW4zVUJfZ3lL/T1lZbE01Sm0zYXhV/N3FzN0lmUno0YXBY/RDFHb3dWWlo3YlJM/dnpyT3dDS3o2VGtY/YWRzaTMvczUwMC9p/bWdwc2hfZnVsbHNp/emVfYW5pbV9fNF8t/cmVtb3ZlYmctcHJl/dmlldyUyMCgyKS5w/bmc"
            alt="Toggler Icon" width="65px">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Development
              </a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col">
                    <li class="dropdown-header">Web Development</li>
                    <li><a class="dropdown-item" href="#" routerLink="WebsiteDevelopment" >Website Development /Angular/React/php</a></li>
                    <li><a class="dropdown-item" href="#">UI UX Designers</a></li> 
                  </div>
                  <ul>
                    <li class="dropdown-header">Mobile App Development</li>
                    <li><a class="dropdown-item" href="#">IOS App Development</a></li>
                    <li><a class="dropdown-item" href="#">Android App Development</a></li>
                    
                  </ul>
                </div>
              </ul>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Development
              </a>
              <ul class="  hhh dropdown-menu dropdown-menu-large row">
                <div class="col">
                  <ul>
                    <li class="dropdown-header">Web Development</li>
                    <li><a class="dropdown-item" href="#">Website Development /Angular/React/php</a></li>
                    <li><a class="dropdown-item" href="#">Website Design</a></li> 
                    <li><a class="dropdown-item" href="#">Content Developer</a></li> 
                    <li><a class="dropdown-item" href="#">Ui Ux Developer</a></li> 
                    <li><a class="dropdown-item" href="#">E-commerce Website Development</a></li>       
                  </ul>
                </div>
                <li class="col">
                  <ul>
                    <li class="dropdown-header">Mobile App Development</li>
                    <li><a class="dropdown-item" href="#">IOS App Development</a></li>
                    <li><a class="dropdown-item" href="#">Android App Development</a></li>
                    
                  </ul>
                </li>
              </ul> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Digital Marketing
              </a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col">
                    <li class="dropdown-header"> Digital Marketing</li>
                    <li><a class="dropdown-item" href="#">Email Marketing</a></li>
                    <li><a class="dropdown-item" href="#">PPC / Adwords</a></li>
                    <li><a class="dropdown-item" href="#">Social Media Marketing</a></li>
                    <li><a class="dropdown-item" href="#">Content Writing</a></li>
                    <li><a class="dropdown-item" href="#">Local SEO</a></li>
                    <li><a class="dropdown-item" href="#">Reputation Management</a></li>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Designers
              </a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col">
                    <li class="dropdown-header"> Designing Service</li>
                    <li><a class="dropdown-item" href="#">LOGO DESIGN</a></li>
                    <li><a class="dropdown-item" href="#">SOCIAL MEDIA GRAPHICS</a></li>
                    <li><a class="dropdown-item" href="#">PRODUCT DESIGNER</a></li>
                    <li><a class="dropdown-item" href="#">BROCHURE DESIGN</a></li>
                    
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Company
              </a>
              <ul class="dropdown-menu">
                <div class="row">
                  <div class="col">
                    <li class="dropdown-header"> Company Profile</li>
                    <li><a class="dropdown-item" href="#">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Contact Us</a></li>
                    <li><a class="dropdown-item" href="#">Career At Comfygen</a></li>
                    <li><a class="dropdown-item" href="#">Client Testimonial</a></li>
                    <li><a class="dropdown-item" href="#">Our Blog</a></li>
                  </div>
                </div>
              </ul>
            </li>
         

          </ul>
        </div>
      </div>
    </nav>
    <div class="col"></div>
  </div>
</div>