<section>
    <div class="container-fluid imjq">
        <div class="row">
            <div class="col">
                <h1>The clock<br> <br>
                    is <span>ticking</span>.</h1>
                <p>The seconds, minutes, and hours slip away,<br>each one bringing us closer to the future and farther
                    from the past</p>
                <div class="bg"></div>
            </div>
        </div>

    </div>
</section>


<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container mt-md-4" align="center">
        <div class="row ">
            <div class="section-header text-center">
                <h2 class="fw-bold fs-1">
                    Our
                    <span class="b-class-secondary">Web And Mobile App Development With SEO </span>Services
                </h2>
                <p class="sec-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path
                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                    </svg></p>
            </div>
        </div>
        <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center te">
            <div class="col" *ngFor="let card of cards">
                <div class="service-card">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <h3>{{card.Title}}</h3>
                    <p>
                        {{card.Description}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container">
        <div class="row " align="center">
            <div class="section-header text-center">
                <h2 class="fw-bold fs-1">
                    UI/UX
                    <span class="b-class-secondary">Design And Development </span>Services
                </h2>

                <p class="sec-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-lightning-charge" viewBox="0 0 16 16">
                        <path
                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                    </svg></p>
                <h3>We Offer Top-Notch Ui/Ux Design And Development Services. Our Ui/Ux Designers Create Intuitive
                    And User-Friendly Ui/Ux Design Solutions For Better User Experience And Increasing Sales.</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-7 " style="margin-top: 2%;">
                <h1 class="mt-4" style="color: rgb(255, 23, 131);">Mobile App Ui/Ux Design</h1><br>
                <p class="mt-4" style="font-size: large;">If you are thinking of developing a mobile app, we will help
                    you create responsive User
                    Interface designs that grip touchscreen functionality, as well as mobile-first user experiences for
                    custom mobile apps/web apps.<br>

                    Our UI/UX designers have experience in creating hybrid and cross-platform apps on both Android and
                    native iOS apps. We have expertise in handling frameworks like Xamarin, PhoneGap and deep knowledge
                    about Bootstrap and Html5.
                </p>
            </div>
            <div class="col-lg-5" align="center" style="margin-top: 2%;">
                <img class="img1"
                    src="https://www.comfygen.com/_next/image?url=%2Fimages%2Fmobile-app-ui-ux-design.webp&w=2048&q=75"
                    alt="Hi" srcset="">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6" align="center">
                <img class="img1"
                    src="https://www.comfygen.com/_next/image?url=%2Fimages%2Fwebsite-design.webp&w=2048&q=75" alt="Hi"
                    srcset="">
            </div>
            <div class="col-lg-6 " style="margin-top: 7%;">
                <h1 class="mt-4" style="color: rgb(255, 23, 131);">
                    Website Design </h1><br>
                <p class="mt-2" style="font-size: large;">We develop cutting-edge solutions because of our exceptional
                    designs, a constant pursuit to bring together aim and aesthetic, and utter dedication to keeping
                    updated with the latest technology trends.<br><br>

                    Hire UI/UX designers and developers from us and develop one-of-a-kind websites that will keep you
                    one step ahead of your competitors.
                </p>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-lg-7 " style="margin-top: 2%;">
                <h1 class="mt-4" style="color: rgb(255, 23, 131);">Mobile App Ui/Ux Design</h1><br>
                <p class="mt-4" style="font-size: large;">If you are thinking of developing a mobile app, we will help
                    you create responsive User Interface designs that grip touchscreen functionality, as well as
                    mobile-first user experiences for custom mobile apps/web apps.<br>

                    Our UI/UX designers have experience in creating hybrid and cross-platform apps on both Android and
                    native iOS apps. We have expertise in handling frameworks like Xamarin, PhoneGap and deep knowledge
                    about Bootstrap and Html5.
                </p>
            </div>
            <div class="col-lg-5" align="center" style="margin-top: 2%;">
                <img class="img1"
                    src="https://www.comfygen.com/_next/image?url=%2Fimages%2Filluslator%2Flogo-design.webp&w=2048&q=75"
                    alt="Hi" srcset="">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6" align="center">
                <img class="img1 mt-4"
                    src="https://www.comfygen.com/_next/image?url=%2Fimages%2Fmobile-user-interface.webp&w=2048&q=75"
                    alt="Hi" srcset="">
            </div>
            <div class="col-lg-6 " style="margin-top: 2%;">
                <h1 class="mt-4" style="color: rgb(255, 23, 131);">

                    Mobile User Interface </h1><br>
                <p class="mt-2" style="font-size: large;">Logo matters a lot. A logo is an immense part of your brand
                    identity that is why you should never underestimate the significance of your logo design.<br>
                    We have a UX/UI designer team that helps you develop a simple yet elegant logo design for your
                    company that will give you a unique. <br>

                    We also help you create app icons that creatively use your logo to enhance your brand identity.
                </p>
            </div>

        </div>
    </div>
</section>
<app-contact-form></app-contact-form>