<header >
    <div class="orbits" >
      <div class="left">
        <div class="outer" data-orbit-rotate="right">
          <img src="https://picsum.photos/32/32?random=1" alt="">
          <img src="https://picsum.photos/32/32?random=2" alt="">
          <img src="https://picsum.photos/32/32?random=3" alt="">
          <img src="https://picsum.photos/32/32?random=4" alt="">
        </div>
        <div class="inner" data-orbit-rotate="left">
          <img src="https://picsum.photos/32/32?random=5" alt="">
          <img src="https://picsum.photos/32/32?random=6" alt="">
          <img src="https://picsum.photos/32/32?random=7" alt="">
          <img src="https://picsum.photos/32/32?random=8" alt="">
        </div>
      </div>
      <div class="right">
        <div class="outer" data-orbit-rotate="left">
          <img src="https://picsum.photos/32/32?random=9" alt="">
          <img src="https://picsum.photos/32/32?random=10" alt="">
          <img src="https://picsum.photos/32/32?random=11" alt="">
          <img src="https://picsum.photos/32/32?random=12" alt="">
        </div>
        <div class="inner" data-orbit-rotate="right">
          <img src="https://picsum.photos/32/32?random=13" alt="">
          <img src="https://picsum.photos/32/32?random=14" alt="">
          <img src="https://picsum.photos/32/32?random=15" alt="">
          <img src="https://picsum.photos/32/32?random=16" alt="">
        </div>
      </div>
    </div>
    <div class="content">
   
      <h1 class="logo">IEveEra<wbr><span>-SEO</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, earum?</p>
    </div>
  </header>