<body>
<div class="container-fluid">
    <div class="row">
    <div class="content">
        <div class="square twitch" style="margin-bottom: 50px;">
            <span class="one"></span>
            <span class="two"></span>
            <span class="three"></span>
            <div class="circle">
                <h2 class="DrugRadar"> IEveEraSEO

                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing el</p>
            </div>
        </div>

        <a href="" class="button" target="_parent">
            <span class="actual-text">&nbsp;Dashboard&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Dashboard&nbsp;</span>
        </a>
    </div>
</div>
</div>
</body>